@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


body{
    @apply bg-[#181A1B] text-white;
    font-family: "Roboto", ui-sans-serif;
}
.logo{
    font-family: "Unbounded","Special Gothic Expanded One", sans-serif;
}
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}
dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.622); 
  backdrop-filter: blur(3px);
}

/* client/src/index.css */

.bg-doodle-pattern {
  background-color: #202120;

  background-image:
    linear-gradient(
      135deg,
      rgba(59, 38, 98, 0.35),
      rgba(89, 84, 31, 0.35)
    ),
    url('/pattern.svg');

  background-repeat: repeat;
  background-blend-mode: color, normal;
}


/* Inputs */
input {
    @apply bg-[#2B2A33] border-[#373c3e] text-white;
    border-radius: .15rem; 
    border-width: 1px; 
    padding: .375rem .5rem; 
    outline: 2px solid transparent;
}
input.search{
  border-radius: 2rem;
  padding: .5rem 0.8rem;
}
input::placeholder { font-size: 0.9rem; }


.telegram-scroll {
  overflow-y: overlay; 
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; 
  transition: scrollbar-color 0.3s ease;
}
.telegram-scroll:hover {
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
.telegram-scroll::-webkit-scrollbar { width: 6px; }
.telegram-scroll::-webkit-scrollbar-track { background: transparent; }
.telegram-scroll::-webkit-scrollbar-thumb {
  background-color: transparent; border-radius: 10px; transition: background-color 0.3s;
}
.telegram-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}


aside.EmojiPickerReact.epr-main {
    border-color: #27272a !important; 
    background-color: #181a1bdd !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5) !important;
    border-radius: 16px !important;
}

.EmojiPickerReact .epr-body::-webkit-scrollbar { width: 6px !important; }
.EmojiPickerReact .epr-body::-webkit-scrollbar-track { background: transparent !important; }
.EmojiPickerReact .epr-body::-webkit-scrollbar-thumb { background-color: transparent !important; border-radius: 10px !important; }
.EmojiPickerReact .epr-body:hover::-webkit-scrollbar-thumb { background-color: rgba(255, 255, 255, 0.2) !important; }

.EmojiPickerReact button.epr-emoji {
    font-size: 28px !important; padding: 5px !important;
}

.EmojiPickerReact .epr-search-container input.epr-search-input {
    background-color: #27272a6e !important; border: 1px solid #3f3f46 !important;
    color: white !important; border-radius: 10px !important;
}
.EmojiPickerReact .epr-search-container input.epr-search-input:focus {
    border-color: #8b5cf6 !important;
}
.EmojiPickerReact .epr-category-nav > button.epr-cat-btn > span {
    filter: invert(1) brightness(0.8);
}


@keyframes highlight-pulse {
  0% { background-color: rgba(124, 106, 223, 0.3); }
  100% { background-color: transparent; }
}

.highlight-message {
  animation: highlight-pulse 2s ease-out forwards;
}